.activity-comment-item {
  border: .5px solid #ddd;
  width: 100%;
  height: 100px;
  margin-bottom: 25px;
  border-radius: 5px;
  display: flex;
}

.activity-comment {
  width: 90%;
  border: .5px solid #ddd;
}

.activity-comment:hover {
  border: .5px solid #aaa;
}

.activity-comment-content {
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
}

.activity-comment-date {
  font-size: 12px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  color: red;
  padding: 15px 0 0;
}

.activity-comment-controls {
  width: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}

.activity-comment-control-item {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  border: .5px solid #ddd;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.activity-comment-control-item:hover {
  border: .5px solid #aaa;
}
