.featured-list-item {
  border: .5px solid #ddd;
  width: 280px;
  height: 200px;
  margin: 0 8px;
  border-radius: 5px;
  position: relative;
}

.featured-list-item:hover {
  border: .5px solid #ccc;
}

.featured-item-img {
  width: 60px;
  height: 60px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: .5px solid #ddd;
  border-radius: 5px;
}

.featured-item-title {
  width: 100%;
  text-align: center;
  font-size: .8em;
  height: 60px;
  padding: 15px 0;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-item-user {
  font-size: 12px;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: bold;
  margin: 5px 0;
}

.featured-item-date {
  font-size: 12px;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  color: red;
  margin: 0;
}

.featured-item-content {
  font-size: 13px;
  padding: 0 5px;
  height: 40%;
  overflow: hidden;
  text-align: left;
  line-height: 1.5em;
  width: 95%;
  margin: 15px auto;
  text-indent: 20px;
}

.fadeout-text {
    position: relative;
    bottom: 3em;
    height: 2em;
    background: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}
