.featured-list-container {
  border-top: .5px solid #ddd;
  padding: 15px 5px 0;
  margin: 25px 0;
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.featured-list {
  display: inline-flex;
  justify-content: center;
  border: 1px solid blue;
  overflow: hidden;
  margin: 0 auto;
  width: 90%;
}

.home-list-title {
  font-style: bold;
  margin: 0;
  margin-bottom: 15px;
}

.horizontal-container {
  display: flex;
  border: 1px solid red;
  justify-content: center;
}

.arrow {
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  cursor: pointer;
}

.arrow:hover {
  font-weight: bold;
}
