header {
  height: 50px;
  background: #fff;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 5px 10px;
  font-family: 'Helvetica';
  border-bottom: 1px solid #ddd;
}

header a {
  color: black;
}

.auth-nav {
  width: 180px;
  display: flex;
  height: 50px;
}

nav {
  min-width: 180px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

h1 {
  height: 16px;
  margin-top: 12px;
}

.nav-links {
  list-style-type: none;
  padding-left: 0;
}

.nav-links-item {
  display: inline;
  margin: 0 5px;
  border: 0;
}

.nav-links-item:hover {
  border-bottom: 1px solid #FF0000;
}
