.ck-editor__editable_inline {
  min-height: 400px;
}

.new-post {
  margin: 25px auto;
  width: 75%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.new-post-form {

}

.new-post-form legend {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 20px;
  border: 0;
}

.new-post-form fieldset {
  border: 0;
}

.new-post-form input {
  margin-bottom: 50px;
  padding: 5px;
}

.new-post-form input[type='text'] {
  width: 80%;
}

.new-post-form label {
}

.new-post-form label p {
  margin-bottom: 5px;
}

.new-post-form input[type='submit'] {
  margin: 50px auto;
  color: #fff;
  background: black;
  border: 0;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
}

.new-post-form input[type='submit']:hover {
  background: #121211;
}

.topic-select {
  padding: 5px;
  cursor: pointer;
  margin: 5px;
}

.topic-select:last-child {
  margin-bottom: 25px;
}
